<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsp.jsp_demo.mapper.video.VideoReqMapper">
    <select id="getAllReqCount"
            parameterType="com.jsp.jsp_demo.model.paging.PagingModel"
            resultType="integer">
        SELECT COUNT(*)
        FROM TBV_VIDEO_REQ_M
        <where>
            <if test="searchStoreNm != null and searchStoreNm != ''">
                STORE_NM LIKE CONCAT('%', #{searchStoreNm}, '%')
            </if>
        </where>
    </select>

    <select id="getReqList"
            parameterType="com.jsp.jsp_demo.model.paging.PagingModel"
            resultType="com.jsp.jsp_demo.model.video.VideoReqOutput">
        SELECT
        REQ_ID,
        CRE_ID,
        STORE_NM,
        ADDRESS,
        DATE_FORMAT(CRE_DTM, '%Y-%m-%d') AS STRING_CRE_DT,
        DATE_FORMAT(CONTRACT_DT,'%Y-%m-%d') AS STRING_CONTRACT_DT,
        SHOOT_SCHEDULE,
        PHONE,
        NOTE,
        PROGRESS_NOTE,
        MANAGER_ID,
        STATUS,
        DATE_FORMAT(SHOOT_RESERVE_DTM, '%Y-%m-%d %H:%i') AS STRING_SHOOT_RESERVE_DTM,
        DATE_FORMAT(SHOOT_COMPLETE_DT,'%Y-%m-%d') AS STRING_SHOOT_COMPLETE_DT,
        DATE_FORMAT(UPLOAD_COMPLETE_DT,'%Y-%m-%d') AS STRING_UPLOAD_COMPLETE_DT
        FROM TBV_VIDEO_REQ_M TVRM
        <where>
            <if test="searchStoreNm != null and searchStoreNm != ''">
                STORE_NM LIKE CONCAT('%', #{searchStoreNm}, '%')
            </if>
        </where>
        ORDER BY REQ_ID DESC LIMIT #{startRow}, #{pageSize} ;
    </select>


    <select id="getUnStartedVideoReq"
            resultType="com.jsp.jsp_demo.model.video.VideoReqOutput">
        SELECT
        REQ_ID,
        CRE_ID,
        STORE_NM,
        DATE_FORMAT(CONTRACT_DT,'%Y-%m-%d') AS STRING_CONTRACT_DT,
        PHONE,
        ADDRESS,
        DATE_FORMAT(CRE_DTM ,'%Y-%m-%d') AS STRING_CRE_DT,
        LONGITUDE,
        LATITUDE,
        NOTE,
        PROGRESS_NOTE,
        STATUS,
        DATE_FORMAT(SHOOT_RESERVE_DTM, '%Y-%m-%d %H:%i') AS STRING_SHOOT_RESERVE_DTM,
        DATE_FORMAT(SHOOT_COMPLETE_DT,'%Y-%m-%d') AS STRING_SHOOT_COMPLETE_DT,
        DATE_FORMAT(UPLOAD_COMPLETE_DT,'%Y-%m-%d') AS STRING_UPLOAD_COMPLETE_DT
        FROM TBV_VIDEO_REQ_M TERM WHERE STATUS = "COORDINATION" ORDER BY CRE_DTM DESC;
    </select>

    <insert id="createVideoReq"
            parameterType="com.jsp.jsp_demo.model.video.VideoReq">
        INSERT INTO TBV_VIDEO_REQ_M
        (CRE_ID, STORE_NM, ADDRESS, CONTRACT_DT, CRE_DTM, PHONE, LONGITUDE, LATITUDE, NOTE, STATUS)
        VALUES (#{creId} ,#{storeNm}, #{address}, #{contractDt}, NOW(), #{phone}, #{longitude}, #{latitude}, #{note},
        'COORDINATION')
    </insert>

    <update id="updateVideoReq"
            parameterType="com.jsp.jsp_demo.model.video.VideoReqInput">
        UPDATE TBV_VIDEO_REQ_M
        SET NOTE = #{note},
        PROGRESS_NOTE = #{progressNote},
        STATUS = #{status},
        <if test="shootReserveDtm != null and shootReserveDtm != ''">
            SHOOT_RESERVE_DTM = #{shootReserveDtm},
        </if>
        <if test="shootCompleteDt != null and shootCompleteDt != ''">
            SHOOT_COMPLETE_DT = #{shootCompleteDt},
        </if>
        <if test="uploadCompleteDt != null and uploadCompleteDt != ''">
            UPLOAD_COMPLETE_DT = #{uploadCompleteDt},
        </if>
        UPD_ID = #{updId},
        UPD_DTM = NOW()
        WHERE REQ_ID = #{reqId};
    </update>
</mapper>