<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsp.jsp_demo.mapper.auth.AuthMapper">
    <insert id="signup"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput">
        INSERT INTO TBU_USER_M
        (USER_ID, USER_NM, USER_PW, PHONE, USER_GRADE, PASS_RESET, JOB_GRADE)
        VALUES (#{userId} ,#{userNm}, #{userPw}, #{phone}, #{userGrade}, 'N', #{jobGrade})
    </insert>

    <select id="selectUserById"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput"
            resultType="com.jsp.jsp_demo.model.auth.UserOutput">
        SELECT
            A.*, B.JOB_GRADE_NM
        FROM (
            SELECT
                USER_ID,
                USER_NM,
                USER_PW,
                PASS_RESET,
                USER_GRADE,
                PHONE,
                JOB_GRADE
            FROM TBU_USER_M
            WHERE USER_ID = #{userId} ) A
        LEFT JOIN TBG_GRADE_C B ON A.JOB_GRADE = B.CODE;
    </select>

    <select id="selectUserCount"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput"
            resultType="integer">
        SELECT count(*)
        FROM TBU_USER_M
        WHERE USER_ID = #{userId}
    </select>

    <update id="resetPassword"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput">
        UPDATE TBU_USER_M
        SET USER_PW = "1111", PASS_RESET = 'Y'
        WHERE USER_ID = #{userId}
    </update>
    
    <update id="updatePassword"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput">
        UPDATE TBU_USER_M
        SET USER_PW = #{userPw}, PASS_RESET = 'N'
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateJobGrade"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput">
        UPDATE TBU_USER_M
        SET JOB_GRADE = #{jobGrade}
        WHERE USER_ID = #{userId}
    </update>

    <insert id = "logAuthActive"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput">
        INSERT INTO TBH_LOGIN_H (
            USER_ID,
            LOG_TYPE,
            CRE_DTM,
            IP,
            USER_AGENT
        )
        VALUES (
            #{userId},
            #{logType},
            NOW(),
            #{ip},
            #{userAgent}
        )
    </insert>
</mapper>