<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsp.jsp_demo.mapper.auth.AuthMapper">
    <insert id="signup"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput">
    INSERT INTO TBU_USER_M
    (USER_ID, USER_NM, USER_PW, PASS_RESET)
    VALUES (#{userId} ,#{userNm}, #{userPw}, 'N')
    </insert>

    <select id="selectUserById"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput"
            resultType="com.jsp.jsp_demo.model.auth.UserOutput">
        SELECT *
        FROM TBU_USER_M
        WHERE USER_ID = #{userId}
    </select>

    <select id="selectUserCount"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput"
            resultType="integer">
        SELECT count(*)
        FROM TBU_USER_M
        WHERE USER_ID = #{userId}
    </select>
    
    <update id="updatePassword"
            parameterType="com.jsp.jsp_demo.model.auth.UserInput">
        UPDATE TBU_USER_M
        SET USER_PW = #{userPw}, PASS_RESET = 'N'
        WHERE USER_ID = #{userId}
    </update>
</mapper>