<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsp.jsp_demo.mapper.chicken.ChickenMapper">
    <select id="getChicken"
            resultType="com.jsp.jsp_demo.model.chicken.Chicken">
        SELECT USER_ID AS CONSUMER, USER_NM, COUNT(CHICKEN.CONSUMER) AS EAT
        FROM TBU_USER_M USER
                 LEFT JOIN TB_CHICKEN_CONSUME_HIS CHICKEN ON USER.USER_ID = CHICKEN.CONSUMER
        GROUP BY  USER.USER_ID, USER.USER_NM
    </select>

    <insert id="plusOneChicken"
            parameterType="com.jsp.jsp_demo.model.chicken.Chicken">
        INSERT INTO TB_CHICKEN_CONSUME_HIS (CONSUMER, TASTE_CD,CRE_DTM)
        VALUES (#{consumer}, #{chickCd}, NOW())
    </insert>
</mapper>
