<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsp.jsp_demo.mapper.chicken.ChickenMapper">
    <select id="getStoreAmt"
            resultType="com.jsp.jsp_demo.model.chicken.StoreDetails">
        SELECT CODE.CODE_ID AS TASTE_CD, CODE.TASTE AS TASTE_NM, CHICKEN.AMT AS TASTE_STORE_AMT, COALESCE(EAT.EAT_AMT, 0) AS EAT_AMT, (CHICKEN.AMT - COALESCE(EAT.EAT_AMT, 0)) AS TASTE_LEFT_AMT
        FROM (SELECT *
              FROM TB_CODE_M
              WHERE CODE_TP = 'CHICKEN') CODE
                 LEFT JOIN (SELECT *
                            FROM TB_CHICKEN_STORE) CHICKEN ON CODE.CODE_ID = CHICKEN.CODE_ID
                 LEFT JOIN (
            SELECT CODE.CODE_ID AS TASTE_CD, CODE.TASTE AS TASTE_NM, CHICKEN.EAT_AMT
            FROM (SELECT *
                  FROM TB_CODE_M
                  WHERE CODE_TP = 'CHICKEN') CODE
                     LEFT JOIN (SELECT TASTE_CD, count(*) AS EAT_AMT
                                FROM TB_CHICKEN_CONSUME_HIS
                                GROUP BY TASTE_CD) CHICKEN ON CODE.CODE_ID = CHICKEN.TASTE_CD
        ) EAT ON CODE.CODE_ID = EAT.TASTE_CD;
    </select>

    <select id="getPersonalEatAmt"
            resultType="com.jsp.jsp_demo.model.chicken.ChickenOutput">
        SELECT USER_ID AS CONSUMER_ID, USER_NM AS CONSUMER_NM, COUNT(CHICKEN.CONSUMER_ID) AS EAT_AMT
        FROM TBU_USER_M USER
                 LEFT JOIN TB_CHICKEN_CONSUME_HIS CHICKEN ON USER.USER_ID = CHICKEN.CONSUMER_ID
        GROUP BY  USER.USER_ID, USER.USER_NM
    </select>

    <insert id="plusOneChicken"
            parameterType="com.jsp.jsp_demo.model.chicken.Chicken">
        INSERT INTO TB_CHICKEN_CONSUME_HIS (CONSUMER_ID, TASTE_CD, CRE_DTM)
        VALUES (#{consumerId}, #{tasteCd}, NOW())
    </insert>
</mapper>
