.map-search-container {
    position:absolute; 
    z-index : 10; 
    background-color : white;
    margin : 10px;
    padding : 10px; 
    border-radius : 10px; 
    border : 3px solid black;
}

.map-pin-explain-box {
    position:absolute; 
    top : 200px;
    z-index : 10; 
    background-color : white;
    margin : 10px;
    padding : 10px; 
    border-radius : 10px; 
    border : 3px solid black;

    .pin-box {
        display: flex;
    }
}

.map {
    width:100%;
    height:100%; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.map-search-field:focus {
    border: 2px solid rgb(15,166,249);
    outline: none;
}

.map-search-field {
    width: 200px;
    padding: 10px 10px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.search-btn {
    height: 42px;
}

.map-search-btn-text {
    font-size: 12px;
}

.text-center {
    font-size: 13px;
}

select {
    font-size: 13px !important; /* <select>와 옵션의 폰트 크기 설정 */
}

textarea {
    font-size: 13px !important;
    padding: 10px !important;
    width : 95%;
    border: 2px solid grey;
    border-radius: 10px;
    transition: border-color 0.3s ease; /* 부드러운 보더 색상 변경 */
    resize: none !important;
}

.btn {
    font-size : 13px !important;
}

th {
    font-size : 13px;
    font-weight: bold;
    background-color : rgb(107,146,164) !important;
    color : white !important;
}

@media (max-width : 1024px) {
    .map-search-container {
        width: 60%;
    }
    .map-pin-explain-box {
        top: 170px;
    }
    .map-search-field,
    .search-btn {
        width: 100%;
    }

    .map-pin-explain-box {
        display: none;
    }
}