.table-container {
    padding-left: 5px;
    padding-right: 5px;
}
table {
    th {
        font-size : 13px;
        font-weight: bold;
        background-color : rgb(107,146,164) !important;
        color : white !important;
        text-align: center !important;   /* 수평 가운데 */
        vertical-align: middle; /* 수직 가운데 */
    }
    td {
        font-size : 13px;
        text-align: center !important;   /* 수평 가운데 */
        vertical-align: middle; /* 수직 가운데 */
    }

    tr:hover {
        .t-cell {
            cursor : pointer;
            background-color: rgb(15,166,249) !important;
        }
    }
}

select {
    font-size : 13px !important;
}


.table-title {
    text-align: left;
    padding-top: 10px;
    padding-left: 5px;
}

.paging {
    justify-items : center;
    a {
        background-color : rgb(107,146,164) !important;
    }
    span {
        color : white;
    }

    .active {
        a {
            background-color : rgb(0, 160, 253) !important;
            border: 1px solid rgb(0, 160, 253) !important;
        }
        
    }
    .pagination {
        justify-content: center;
    }
}

.pass-reset-btn {
    width : 150px;
}

textarea {
    padding: 10px !important;
    width : 95%;
    border: 2px solid grey;
    border-radius: 10px;
    transition: border-color 0.3s ease; /* 부드러운 보더 색상 변경 */
    resize: none !important;
}

.paging {
    a {
        background-color : rgb(107,146,164) !important;
    }
    span {
        color : white;
    }

    .active {
        a {
            background-color : rgb(0, 160, 253) !important;
            border: 1px solid rgb(0, 160, 253) !important;
        }
        
    }
}

@media (max-width : 1024px) {
    .page-num {
        display: none;
    }
    
    .page-num.active {
        display: block;
    }
    
    .cell-req-id,
    .cell-phone,
    .cell-address,
    .cell-note,
    .cell-progress-note,
    .cell-shoot-reserve-dtm
    {
        display: none;
    }
}