th {
    font-size : 13px;
    font-weight: bold;
    background-color : rgb(107,146,164) !important;
    color : white !important;
    text-align: center !important;   /* 수평 가운데 */
    vertical-align: middle; /* 수직 가운데 */
}
td {
    font-size : 13px;
    text-align: center !important;   /* 수평 가운데 */
    vertical-align: middle; /* 수직 가운데 */
}

tr:hover {
    .t-cell {
        cursor : pointer;
        background-color: rgb(15,166,249) !important;
    }
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* 왼쪽 하단 모서리 둥글게 */
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* 오른쪽 하단 모서리 둥글게 */
}

.statistics-container {
    margin-left : 10px;
    margin-right : 10px;
}

textarea {
    font-size: 13px !important;
    padding: 10px !important;
    width : 95%;
    border: 2px solid grey;
    border-radius: 10px;
    transition: border-color 0.3s ease; /* 부드러운 보더 색상 변경 */
    resize: none !important;
}

@media (max-width : 1024px) {
    .expense-details {
        display: none;
    }
}