<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsp.jsp_demo.mapper.statistics.StatisticsMapper">
    <select id="getSearchedDurationCompleteReq"
            parameterType="com.jsp.jsp_demo.model.search.SearchModel"
            resultType="com.jsp.jsp_demo.model.statistics.Statistics">
        SELECT
            USER_ID,
            USER_NM,
            JOB_GRADE_NM,
            UPLOAD_COMPLETE_CNT
        FROM (
            SELECT
            *
            FROM (
                SELECT
                    USER_ID,
                    USER_NM,
                    JOB_GRADE
                FROM TBU_USER_M TUM
                WHERE
                    TUM.USER_GRADE = 0
                    AND USER_NM != "이재희"

            ) A
            LEFT JOIN TBG_GRADE_C TGC ON A.JOB_GRADE = TGC.CODE
        ) B
        LEFT JOIN (
            SELECT
                MANAGER_ID,
                COUNT(*) AS UPLOAD_COMPLETE_CNT
            FROM
                TBV_VIDEO_REQ_M
            WHERE
                STATUS = "COMPLETEUPLOAD"
                AND UPLOAD_COMPLETE_DT &gt;= CONCAT(#{selectedYear}, '-', LPAD(#{selectedMonth}, 2, '0'), '-01')
                AND UPLOAD_COMPLETE_DT &lt; DATE_ADD(DATE_FORMAT(CONCAT(#{selectedYear}, '-', LPAD(#{selectedMonth}, 2, '0'), '-01'), '%Y-%m-01'), INTERVAL 1 MONTH)
        GROUP BY
                MANAGER_ID
            ORDER BY
                UPLOAD_COMPLETE_CNT DESC) C
        ON B.USER_ID = C.MANAGER_ID
    </select>

    <insert id="insertSpend"
            parameterType="com.jsp.jsp_demo.model.statistics.Spend">
        INSERT INTO TBS_SPEND_H (
            CRE_ID,
            SPEND_DT,
            WHAT_FOR,
            AMT,
            NOTE,
            MANAGER_CHECK
        )
        VALUES (
            #{creId},
            #{spendDt},
            #{whatFor},
            #{amt},
            #{note},
            "N"
        )
    </insert>

    <select id="getSpendHist"
            parameterType="com.jsp.jsp_demo.model.statistics.Spend"
            resultType="com.jsp.jsp_demo.model.statistics.Spend">
        SELECT
            C.*,
            D.JOB_GRADE_NM
        FROM (
            SELECT
                A.*,
                B.USER_NM AS CRE_NM,
                B.JOB_GRADE
            FROM (
                SELECT
                    ID,
                    CRE_ID,
                    SPEND_DT,
                    DATE_FORMAT(SPEND_DT, '%Y-%m-%d') AS STRING_SPEND_DT,
                    WHAT_FOR,
                    AMT,
                    NOTE,
                    MANAGER_CHECK
                FROM TBS_SPEND_H
                WHERE SPEND_DT &gt;= CONCAT(#{selectedYear}, '-', LPAD(#{selectedMonth}, 2, '0'), '-01')
                AND SPEND_DT &lt; DATE_ADD(DATE_FORMAT(CONCAT(#{selectedYear}, '-', LPAD(#{selectedMonth}, 2, '0'), '-01'), '%Y-%m-01'), INTERVAL 1 MONTH)
            ) A
            LEFT JOIN (
            SELECT *
            FROM TBU_USER_M
            ) B ON A.CRE_ID = B.USER_ID
            ) C LEFT JOIN (
            SELECT *
            FROM TBG_GRADE_C
            ) D ON C.JOB_GRADE = D.CODE
        ORDER BY SPEND_DT
    </select>

    <select id="getGroupedSpendAmt"
            parameterType="com.jsp.jsp_demo.model.statistics.Spend"
            resultType="com.jsp.jsp_demo.model.statistics.Spend">
        SELECT
            A.CRE_ID,
            A.TOTAL_AMT,
            B.USER_NM,
            B.JOB_GRADE_NM
        FROM (
            SELECT
                CRE_ID,
                SUM(AMT) AS TOTAL_AMT
            FROM
                TBS_SPEND_H
            WHERE
                SPEND_DT &gt;= CONCAT(#{selectedYear}, '-', LPAD(#{selectedMonth}, 2, '0'), '-01')
                AND SPEND_DT &lt; DATE_ADD(DATE_FORMAT(CONCAT(#{selectedYear}, '-', LPAD(#{selectedMonth}, 2, '0'), '-01'), '%Y-%m-01'), INTERVAL 1 MONTH)
                AND MANAGER_CHECK = "Y"
            GROUP BY
                CRE_ID) A
        LEFT JOIN (
            SELECT
                tum.*,
                tgc.JOB_GRADE_NM
            FROM
                TBU_USER_M tum
            LEFT JOIN TBG_GRADE_C tgc
            ON tum.JOB_GRADE = tgc.CODE
        ) B ON A.CRE_ID = B.USER_ID
    </select>

    <update id="spendCheck"
            parameterType="com.jsp.jsp_demo.model.statistics.Spend">
        UPDATE TBS_SPEND_H
        SET MANAGER_CHECK = 'Y', CHECK_ID = #{checkId}
        WHERE ID = #{id}
    </update>

</mapper>
