/* 폰트 가져오기 */
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    /* 폰트 적용 */
    font-family: 'BMDOHYEON', sans-serif;
    position: relative;
    min-height: 375px;
    background-color: rgb(225, 232, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    box-sizing: border-box;
    display: grid;
    width: calc(100vw - 150px);
    height: calc(100vh - 150px);
    background: rgb(254, 254, 254);
    box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset,
        0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    z-index: 10;

    .login-box {
        align-content: center;

        .login-title {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo-img {
                width: 100px;
            }
        }
    }

    .login-frm {
        display: flex;
        flex-direction: column;
        gap: 16px;
        /* 인풋 박스 간격 */
    }

    .input-box {
        display: flex;
        justify-content: center;
    }

    .input {
        padding: 10px;
        width: 250px;
        font-size: 16px;
        border: 2px solid grey;
        border-radius: 10px;
        transition: border-color 0.3s ease; /* 부드러운 보더 색상 변경 */
    }

    .password {
        font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif; /* 한국어 폰트 설정 */
    }

    ::placeholder { 
        font-family: 'BMDOHYEON', sans-serif; 
        opacity: 1; /* Firefox */ 
    } 
    :-ms-input-placeholder { 
        /* Internet Explorer 10-11 */ 
        font-family: 'BMDOHYEON', sans-serif; 
    } 
    ::-ms-input-placeholder { 
        /* Microsoft Edge */ 
        font-family: 'BMDOHYEON', sans-serif; 
    }
    

    .input:focus {
        border: 2px solid rgb(15,166,249);
        outline: none;
    }

    .login-btn-box {
        display: flex;
        justify-content: center;

        .login-btn {
            width: 250px;
            padding: 12px 24px;
            font-size: 18px;
            color: white;
            background: linear-gradient(90deg, rgb(15,166,249), rgb(15,200,249)); /* 그라데이션 */
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s ease; /* 부드러운 애니메이션 */
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .login-btn:hover {
            background: linear-gradient(45deg, rgb(15,200,249), rgb(15,166,249)); /* hover 시 그라데이션 색상 변경 */
            transform: translateY(-2px); /* 버튼이 살짝 위로 떠오름 */
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); /* hover 시 그림자 효과 */
        }

        .login-btn:active {
            transform: translateY(2px); /* 클릭 시 버튼이 눌리는 효과 */
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        }
    }
}