th {
    font-size : 13px;
    font-weight: bold;
    background-color : rgb(107,146,164) !important;
    color : white !important;
}
td {
    font-size : 13px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* 왼쪽 하단 모서리 둥글게 */
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* 오른쪽 하단 모서리 둥글게 */
}

tr:hover {
    .t-cell {
        cursor : pointer;
        background-color: rgb(15,166,249) !important;
    }
}

.my-req-list-container {
    margin-left : 10px;
    margin-right : 10px;
}

select {
    font-size : 13px !important;
}

.main-search-input {
    width: 50% !important;
}
.main-search-btn {
    width : 100px;

    .button-text {
        font-size : 15px;
    }
}

.my-info-container {
    margin-left : 10px;
    margin-right : 10px;
}

textarea {
    padding: 10px !important;
    width : 95%;
    border: 2px solid grey;
    border-radius: 10px;
    transition: border-color 0.3s ease; /* 부드러운 보더 색상 변경 */
    resize: none !important;
}

.paging {
    a {
        background-color : rgb(107,146,164) !important;
    }
    span {
        color : white;
    }

    .active {
        a {
            background-color : rgb(0, 160, 253) !important;
            border: 1px solid rgb(0, 160, 253) !important;
        }
        
    }
}