th {
    font-size : 13px;
    font-weight: bold;
    background-color : rgb(107,146,164) !important;
    color : white !important;
}
td {
    font-size : 13px;
}

tr:hover {
    .t-cell {
        cursor : pointer;
        background-color: rgb(15,166,249) !important;
    }
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* 왼쪽 하단 모서리 둥글게 */
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* 오른쪽 하단 모서리 둥글게 */
}

select {
    font-size : 13px !important;
}

.reqTopBox {
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom : 10px;
}

.video-req-table-container {
    margin-left:10px;
    margin-right:10px;
}

input {
    width : 95% !important;
}
.main-search-input {
    width: 50% !important;
}
.main-search-btn {
    width : 100px;

    .button-text {
        font-size : 15px;
    }
}

textarea {
    padding: 10px !important;
    width : 95%;
    border: 2px solid grey;
    border-radius: 10px;
    transition: border-color 0.3s ease; /* 부드러운 보더 색상 변경 */
    resize: none !important;
}

.address {
    width : 75% !important;
}

.address-btn {
    width : 100% !important;
}

.button-text {
    font-size: .7vw;
}

.button-container {
    width : 10% !important;
    font-size: 10px;
}

.checkbox {
    width : 30px !important;
    height: 30px !important;
    margin-left: 2.5%;
}

.paging {
    a {
        background-color : rgb(107,146,164) !important;
    }
    span {
        color : white;
    }

    .active {
        a {
            background-color : rgb(0, 160, 253) !important;
            border: 1px solid rgb(0, 160, 253) !important;
        }
        
    }
}