th {
    font-size : 13px;
    font-weight: bold;
}
td {
    font-size : 13px;
}

tr:hover {
    .t-cell {
        cursor : pointer;
        background-color: rgb(15,166,249) !important;
    }
}

select {
    font-size : 13px !important;
}

.reqTopBox {
    display:flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom : 10px;
}

.video-req-table-container {
    margin-left:10px;
    margin-right:10px;
}